.container{
    width: 100%;
    height: auto;
}
.task_2{
    background-color: rgb(248, 212, 223);
    width: 70%;
    height: auto;
}
#text{
    text-align: center;
    font-style: oblique;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

